<!DOCTYPE html>
<html lang="en" ng-app="people">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
@Styles.Render("~/Content/css")
@*@Scripts.Render("~/bundles/modernizr")*@
@Scripts.Render("~/bundles/angular")
</head>
<body>
@RenderBody()

@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/app")
</body>
</html>
